section {
  height: 100vh;
}

.homepage-section{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .title-hero {
    color: #FFFFFFD9;
  }

  .subtitle-hero,
  .description-hero {
    font-size: 20px;
  }
}