#navbarDisplay {
  overflow: hidden;
  position: fixed;
  background: #ffffff;
  width: 100%;
  z-index: 1000;
  transition: ease-out 0.5s;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.navBarContainer {
  background-color: #ffffff !important; 
  transition: ease-in 0.5s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  color: #2d2e32;
  font-weight: 700;
  /* z-index: 1000; */

  h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #2d2e32;
    font-weight: 700;
    transition: ease-in 0.2s;
    
    &:hover {
      color: #646cff;
    }
  }
}

.navbar-links {
  display: none;
}

.navbar-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  /* .navbar {
    justify-content: space-evenly;
  } */

  .navbar-links {
    display: flex;
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 0;
        margin: 0;
        color: #2d2e32;

        a {
          text-decoration: none;
          color: #2d2e32;
          
          &:hover {
            color: #646cff;
          }
        }
      }
  }
}