article {
  color: #2d2e32;
}

.about-description {
  max-width: 800px;

  p {
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .about-description {
    p {
      font-size: 20px;
    }
  }
}