img {
  /* width: 200px; */
}

.projects-container {
  width: 100%;
}

.row-projects {
  /* min-width: 1000px; */
}

.col-projects {
  display: flex;
  justify-content: center;
}

/* @media (min-width: 768px) {
  .row-projects {
    min-width: 768;
  }
}

@media (min-width: 900px) {
  .row-projects {
    min-width: 900;
  }
}

@media (min-width: 1000px) {
  .row-projects {
    min-width: 1000;
  }
} */