img {
  /* width: 200px; */
}

h2 {
  color: #FFFFFFD9;
}

.container-projects {
  width: 100%;
  max-width: 800px;
  padding-bottom: 200px;
}

.row-projects {
  /* min-width: 1000px; */
}

.col-projects {
  /* display: flex;
  justify-content: center;
  gap: 16px; */
}

.content-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 24px;
}

.img-container-projects {
  width: 100%;
  /* border-radius: 8px; */
  overflow: hidden;
  position: relative;
}

.img-projects {
  object-fit: cover;
  width: 100%;
  border-radius: 8px
  /* &:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  } */
}

.section .h4{
  width: 100%;
  height: 100%;
  background-color: var(--negro-8);
  backdrop-filter: blur(16pxrem);
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 1.4em;
  /* font-family: var(--tipo-titular); */
  opacity: 0;
  transform: translateZ(1) scale(1.5);
  transition: all 0.5s ease;
}

.card-container-projects {
  width: 60%;
  /* aspect-ratio: 1/1; */
  overflow: hidden;
  
}

.url-projects {
  color: #FFF;

  & hover {
    color: #171e5c;
  }

  & focus {
    color: #171e5c;
  }
}

@media (min-width: 768px){
  .content-projects {
    flex-direction: row;
  }
}